extends layout

block content
    .container
        .row
            .col-sm-12
                if messages.length > 0
                    .alert.alert-success.alert-dismissable= messages
                        button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;

                table.table.table-striped.table-bordered
                    thead
                        tr
                            th Title
                            th Date
                            th User
                            th Status
                            th Action
                    tbody
                        each ticket in tickets
                            tr
                                td= ticket.title
                                td= ticket.date
                                td= ticket.userEmail
                                td= ticket.status
                                td: a.btn.btn-success(href="/ticket/#{ticket.id}") View
