extends layout

block content
    .container
        .row
            .col-sm-8
                h1 Ticket #{ticket.title}

                each detail in ticket.details
                    .ticket-details(class=(detail.admin === true ? 'admin' : '')) !{detail.description}

            .col-sm-4
                .status(class='#{ticket.status}')= ticket.status

        .row
            .col-sm-6
                h2 Add extra details

                    form(action="/ticket/#{ticket.id}" method="post")

                        .form-group
                            textarea(rows="5" placeholder="item details" name="details" class="form-control")
                        .form-group
                            input(type="submit", value="Update" class=" btn btn-primary")

                    form(action="/ticket/close/#{ticket.id}" method="post")
                        .form-group
                            input(type="submit", value="Close" class=" btn btn-danger")

